/* .App {
	text-align: center;
} */
.edashboard{
	width:100%;
height:100vh;
background-color: blueviolet;
 display: grid;
 grid-template-areas:
    "box box box box review review"
    "goal goal orderStatus orderStatus review"
    "topSeller topSelller performance performance performabce task";

 grid-template-columns: repeat(6, 1fr);
 grid-template-rows: repeat(3, 1fr);
}

